Django==3.0.7
requests==2.25.1
psycopg2==2.8.5
pillow==8.1.0
djangorestframework==3.10
django-cors-headers==3.7.0
django-ipware==3.0.2 
boto3==1.17.17
pyjwt==2.0.1
django-storages==1.11.1
django-markdownx==3.0.1
jupyter==1.0.0
beautifulsoup4==4.9.3
lxml==4.6.2
python-jose==3.2.0
cryptography==3.2.1
urllib3==1.26.2
coreapi==2.3.3
Pygments==2.8.1
Markdown==3.3.4